<div>
<h1>Explore#logical</h1>
<p>Find me in app/views/explore/logical.html.erb</p>
<hr />
</div>

<% value = 5 -%>
<% if value == 1 -%>
:D
<% elsif (value > 20) -%>
:S
<% else -%>
X(
<% end -%>

<hr />

<%= 'True' if value > 20 %>