<div>
<h1>Explore#loops</h1>
<p>Find me in app/views/explore/loops.html.erb</p>
<hr />
</div>

<% value = '' -%>
<% 9.times {value << 'ruby '} -%>
	<%= value  %>
<hr />
<% x = 1 -%>
<% y = 20 -%>

<% while x < y -%>
	<%= x += 1 %>
<% end -%>