<div>
<h1>Explore#ranges</h1>
<p>Find me in app/views/explore/ranges.html.erb</p>
<hr />
</div>

<%= range_one = (1..10) %><br>
<%= range_two = (1...10) %><br><br>
<%= range_one.to_a.join(', ') %><br>
<%= range_two.to_a.join(', ') %><br>
