<html>
<head>
  <title>Explore: <%= controller.action_name %></title>
  <style>
	body {
		font-family: Lucida Grande;
		color: #282828;
	}
	div {
		color:#AAA;
	}
	hr {
		margin: 0 0 1em;
	}
	li {
		list-style-position: inside;
	}
	table, tr, td {
		text-align: left;
	}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>